/**
 * @name Cyanite
 * @description A fork of Cyan, with a more Discord-like UI
 * @author DaBluLite#7409
 * @authorId 582170007505731594
 * @version 5.0.0-pre2
 * @updateUrl https://dablulite.github.io/Cyanite/Cyanite.theme.css
 * @source https://github.com/DaBluLite/Cyanite
 */

/*
Huge thanks to all the contributors of this project!

		    Contributors
====================================================
=						   =
=						   =
=  Custom Icons: Obscure-Git and Lavender-Discord  =
=        Darkened color scheme: maenDisease        =
=               Code cleanup: lucism               =
=        Additional code and help by carrot        =
=						   =
=						   =
====================================================
*/
 
@import url(https://dablulite.github.io/Cyanite/import.css);
:root {
	--cyan-background-primary: var(--background-primary);
	--cyan-background-secondary: var(--background-secondary);
	--cyan-background-tertiary: var(--background-tertiary);
	--cyan-background-elevated: var(--background-floating);
	--cyan-background-floating: var(--background-floating);
	--cyan-font: 'Open Sans';
	--cyan-background-img: linear-gradient(360deg, #202225 0%, #202225 100%);
	--cyan-elevation-shadow: none;
    	--window-margin: 0;
	--window-border-radius: 8px;
    	--window-border-radius-calc: calc(min(1, var(--window-margin)) * var(--window-border-radius));
	--cyan-accent-color: #009f88;
	--cyan-blur-radius: 0;
}
